input[type='number']
	-moz-appearance: textfield;
input[type='submit']
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none;
input[type="password"]
	font: small-caption
	line-height: 1.65
input
	box-shadow : none
	font-family: $os
	color: #000
	+rem(font-size,16px)
	+placeholder 
		font-family: $os
	&::-ms-clear
		display: none;
svg
	display: inline-block
	max-width: 100%
	max-height: 100%
button
	background: 0 0
a
	text-decoration: none
	transition: color .3s
	color: $org
	// &.text2
	// 	&:hover
	// 		color: $hover
*
	+box
	// -webkit-tap-highlight-color: rgba(252, 239, 141, 0.41)
	-webkit-tap-highlight-color: transparent
	+placeholder 
		font-family: $os
		+rem(font-size,16px)

// textarea
// 	line-height: 1.4
// 	resize: none
// 	font-family: $os
// 	+rem(font-size,16px)
// 	+rem(padding-top,5px)
// 	+placeholder 
// 		font-family: $os
// 		+rem(font-size,14px)
ul
	li>a 
		display: inline-block
		width: 100%
html
	font-size: 16px
	line-height: 1
	overflow-x: hidden
	+r(1150)
		font-size: 15px
  // +r(1280)
  //   font-size: 14px
  // +r(991)
  //   font-size: 16px
  //   // &:not(.bx-ios)
  //   overflow-x: hidden
  // +r(769)
  //   font-size: 15px
	// +r(600)
	// 	font-size: 15px
body
	background-color: #fff
	+box
	+font-smoothing
	text-rendering: optimizeLegibility
	font-family: $os
	min-width: 320px
	& ::selection
		background-color: $org
		color: $white
	& ::-moz-selection
		background-color: $org
		color: $white

body, .out
	width: 100%
	height: 100%
	// overflow-x: hidden
	&.modal_open
		position: fixed
	&.open
		+r(991)
			overflow: hidden
	&.menu-open
		+r(1024)
			position: fixed
			// overflow: hidden
			// width: 100%
			// height: 100%
.out
	position: relative
	-webkit-overflow-scrolling: touch;
	// +r(768)
	// 	overflow-x: hidden
.page__header--wrap
	position: fixed
	left: 0
	width: 100%
	right: 0
	top: 0
	z-index: 20
	visibility: hidden
#logob
	width: 100%
	height: 100%
	display: inline-block
	
.page
	&__wrapper
		background-color: #fff
		display: flex
		flex-wrap: nowrap
		flex-direction: column
		min-height: 100%
		overflow-x: hidden
	&__outer
		width: 100%
		display: block
		height: 100%
	&__header
		// background: $bl
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		position: relative
		visibility: visible
		+tr(transform .3s)
	&__footer
		position: relative
		flex: 0 0 auto
		background-color: #f0f4f7
		flex-flow: row wrap
	&__content
		// +rem(padding,0 0 0100px)
		flex: 1 0 auto
		width: 100%
		* 
		+rm(768)
			+scrollbar
				+rem(width,4px)
			::-webkit-scrollbar-thumb 
				+rem(width,6px)
				+rem(border-radius,3px)
				background: #888888
				cursor: pointer
.m-logo
	display: inline-block
	width: 15.5%
	+rem(max-width,202px)
	padding-bottom: 7%
	+contain
	vertical-align: middle

.title
	color: $blk
	font-weight: bold
	line-height: 0.842
	&.h1
		+rem(font-size,38px)
	&.h2
		+rem(font-size,22px)
		line-height: 1.455;
	&.h3,&.h4
		color: $textTitle
		line-height: 2;
		+rem(font-size, 20px)
		font-weight: 400
	&.h4
		+rem(font-size,16px)
		line-height: 1.625;
.box
	+rem(max-width,1210px)
	width: 100%
	display: block
	margin: 0 auto
	+padlr(15px)
	position: relative
	
.wrapper
	// overflow: hidden
	&.gray 
		background-color: #f0f4f7
//=====================================//
//             header styles
//=====================================//
#slide-line
	display: inline-block
	height: 3px
	background-color: $org
	position: absolute;
	+rem(bottom,-6px)
	+r(1024)
		display: none
.page
	&__header
		&:not(.is-hidden)
			.dropdown-tel-wrapp
				animation: fadein .5s
		&.menu-open
			.header-bottom-mobnav,.m-logo
				z-index: 110
			.header-bottom-nav
				display: none
		&.is-hidden
			+r(1024)
				.header-bottom
					+rem(height,55px)
					.m-logo
						+rem(width, 150px)
					&-nav
						transform: translateY(-20%)
						opacity: 0
						visibility: hidden
			+r(1260)
				.m-logo
					margin-left: 0
				.header-bottom-menu
					white-space: nowrap
					+rem(margin-left, 15px)
				.header-bottom-menu-item a
					+padlr(16px)
				.dropdown-tel-wrapp
					+rem(max-width,200px)
					.dropdown-tel-item 
						+rem(font-size,17px)
						+rem(padding, 20px )
			+rm(1025)
				transform: translateY(-3.75rem)
				#slide-line
					bottom: 0
				.header-bottom
					background-color: $bl
					.m-logo
						padding-bottom: 3%
						+rem(max-width, 200px)
						+rem(margin-top,-5px)

				.top-nav-botton.fixed
					transform: translateY(3.75rem)
					border-left-color: #2e72d0
				.header
					&-bottom
						+rem(height,60px)
						&-inner
							max-width: 100%
							+rem(padding-right,195px)
						&-menu-item
							a 
								+rem(padding-top,0px)
						&-contact
							+rem(padding-top,15px)
							+rem(width,350px)
						&-nav
							margin-left: 0
				.dropdown-select-wrapp,.dropdown-tel-wrapp
					height: auto
					.dropdown-target
						+rem(margin-top,-15px)
				.dropdown-tel-content
					background-color: $bl
				.dropdown-tel-inner
					+rem(max-height,60px)
					transition-delay: .3s
					animation: fadein .5s forwards
					&:hover
						+rem(max-height,180px)
				.dropdown-tel-item
					+rem(padding,17px 30px)
					span 
						position: relative
						&:before
							height: 1.5px
							display: inline-block
							content: ''
							position: absolute
							left: 0
							width: 100%
							bottom: 0
							background-image: linear-gradient(90deg,$org 0,hsla(0,0%,100%,0) 30%);
							background-position: bottom;
							background-size: 6px 2px;
							background-repeat: repeat-x;
					&:hover
						span 
							&:before
								display: none
								
				.dropdown-tel-wrapp
					+rem(width,238px)
					+rem(margin-top,-15px)
				// .dropdown-select-wrapp
				// 	+rem(margin-right,-25px)
@keyframes fadein
	0% 
		opacity: 0
	50% 
		opacity: 0
	90%
		opacity: 1
.header
	&-bottom
		width: 100%
		+rem(height,65px)
		// +rem(height,60px)
		background-color: transparent 
		+tr(background-color .3s)
		+r(1024)
			+rem(height,80px)
			+tr(height .3s)
			background-color: $bl
		.m-logo
			+rem(max-width,225px)
			width: 20%
			background-position: left center
			+rem(margin-left,5px)
			+tr(padding-bottom .3s)
			+r(1024)
				+tr(width .3s)
		&-mobnav
			font-size: 0
			width: 50%
			text-align: right
			
			+rm(1025)
				display: none
			&-btn 
				cursor: pointer;
				&.active
					.navTrigger i 
						&:first-child
							animation: inT .8s forwards
						&:nth-child(2)
							animation: inM .8s forwards
						&:nth-child(3)
							animation: inBtm .8s forwards
			&-acc,&-btn 
				display: inline-block
				+rem(width,82px)
				vertical-align: top
				height: 100%
				position: relative
				text-align: center
				+r(600)
					width: 50%
					+rem(max-width,82px)
				+r(440)	
					width: 40%
				.header-btn-inner
					+coverdiv
					+vertical
					+rem(padding, 16px 0)
					text-align: right
					
				svg 
					display: inline-block
					width: 100%
					height: 100%
					stroke: $white
					vertical-align: middle
					+rem(max-height, 25px)
					
				.navTrigger
					+rem(width,33px)
					+rem(height,23px)
					margin: auto;
					display: inline-block
					vertical-align: middle
					
					i 
						background-color: #fff;
						border-radius: 2px;
						content: "";
						display: block;
						width: 100%;
						height: 2px;
						&:first-child
							animation: outT .8s backwards;
							animation-direction: reverse;
						&:nth-child(2)
							margin: 8px 0;
							animation: outM .8s backwards;
							animation-direction: reverse;
						&:nth-child(3)
							animation: outBtm .8s backwards;
							animation-direction: reverse;
				
		&-inner
			height: 100%
			width: 100%
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			overflow: visible

			.m-logo
				+r(1024)
					+rem(width, 200px)
					padding: 0
					height: 100%
					margin-left: 0
				+r(600)
					width: 45%
					+rem(max-width, 175px)	
		&-nav
			+rem(margin-left,-42px)
			+r(1024)
				position: absolute
				+rem(bottom, -50px)
				right: 0
				width: 100%
				text-align: center
				transition: transform .3s, opacity .3s, visibility .3s
				transform: none

				
		&-menu
			font-size: 0
			height: 100%
			+r(600)
				display: flex
				flex-flow: row nowrap
				justify-content: space-between
			&-item
				height: 100%
				display: inline-block
				vertical-align: top
				height: 100%
				+r(600)
					a
						+padlr(10px)
						+rem(padding-top,16px)
						+rem(padding-bottom,16px)
				+r(420)
					a 
						+padlr(5px)
						span 
							+rem(font-size,13px)
				a 
					line-height: 1;
					color: $white
					+padlr(20px)
					height: 100%
					+vertical
					display: inline-block
					width: 100%
					+rem(padding-top,34px)
					+tr(color .3s)
					&:hover
						color: $org
					span 
						display: inline-block
						vertical-align: middle
						+rem(font-size,16px)
						
		&-contact
			width: 310px
			// height: 1px
			+rem(padding-top,34px)
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			+r(1024)
				display: none
			.dropdown-select-wrapp,.dropdown-tel-wrapp
				// display: inline-block
				// vertical-align: top
				// min-height: 1px
				
	&-top
		background-color: #283342
		width: 100%
		+rem(height,60px)
		+r(1024)
			display: none
			
		&-inner
			height: 100%
			width: 100%
			display: flex
			flex-flow: row nowrap
			justify-content: space-between

		&-nav
			height: 100%
			position: relative
			&-menu
				font-size: 0
				height: 100%
				display: inline-block
				vertical-align: top
				+rem(margin-right,24px)
			.top-nav-item.top-link
				&:hover,&.active
					span 
						color: $white
					svg
						stroke: $white
			.top-nav-botton.top-link
				&:hover,&.active
					span 
						color: $white
					svg
						stroke: $white
		.top-nav-item
			+padlr(14px)

		.top-nav-botton
			border-left: 1px solid #46535b
			+padlr(30px)
			+rem(min-width,186px)
			+r(1280)
				+padlr(15px)
				+rem(min-width,176px)
			svg
					stroke: #d9dfec
			&:hover,&.active
				span 
					color: $white
			&:not(.fixed)
				// +rem(margin-right, 195px)
			&.fixed
				+tr(transform .3s)

				// position: fixed
				// right: 0
				// top: 0
				// z-index: 5
				// +rem(height,60px)
				span
					color: #d9dfec
				svg
					stroke: #d9dfec

		.top-link
			height: 100%
			+vertical
			text-align: center
			display: inline-block
			vertical-align: top
			transition: background-color .3s
			cursor: pointer
			+nosel
			span 
				display: inline-block
				vertical-align: middle
				+rem(font-size,13px)
				color: $grayy
				transition: color .3s
			svg
				display: inline-block
				vertical-align: middle
				+rem(width,16px)
				+rem(height,16px)
				+rem(margin-top,-2px)
				+rem(margin-right,11px)
				+tr(stroke .3s)
				stroke: $grayy
			&:hover,&.active
				background-color: #1f2631
				span 
					color: $grayy
			&.active
				pointer-events: none
	&-lang
		font-size: 0
		.header-lang-item
			span
				color: $white
		&-item
			+rem(width,60px)

//=====================================//
//             header mobile menu
//=====================================//
.header-mobile
	&-menu
		position: fixed
		left: 0
		top: 0
		height: 100vh
		width: 100vw
		z-index: 100
		background-color: transparentize($bl, .7)
		text-align: right
		opacity: 0
		visibility: hidden
		transition: opacity .25s,visibility .25s
		transition-delay: .25s
		&.active
			transition-delay: 0s
			opacity: 1
			visibility: visible
			.header-mobile-menu-outer
				transform: none
				transition-delay: .25s
		+rm(1025)
			display: none
		&-outer
			+rem(padding-bottom, 20px)
			height: 100%
			+rem(padding-top,80px)		
			background-color: $bl
			width: 100%
			display: inline-block
			+rem(max-width, 420px)
			transform: translateX(100%)
			transition-delay: 0s
			+tr(transform .25s)
		&-inner
			overflow-y: auto
			max-height: 90%
			+padlr(16px)
			+rem(padding-bottom, 30px)
			li 
				display: block
				text-align: center

//=====================================//
//         checkbox
//=====================================//			

.select-item
  display: inline-block;
  width: 100%;
  position: relative;
  +nosel
  &:hover,&.hover
    .select-text
      transition: color .3s;
    .select-checked
      border-color: $focus;
      transition: border-color .3s ease;
  .select-label
    display: inline-block;
    +rem(min-width, 15px)
    cursor: pointer;
    width: 100%;
    margin-bottom: 0
    .select-main
      float: left;
      position: relative;
      display: inline-block;
  .select-text
    +rem(font-size, 15px)
    color: $blk2;
    display: block;
    overflow: hidden;
    cursor: pointer;
    +rem(padding-left, 15px)
    transition: color .3s;
    font-weight: 600
    line-height: 1.6;
  .select-real
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    bottom: 0
    right: 0
    width: 100%
    height: 100%
    &:checked +.select-checked:before,&.active +.select-checked:before
      opacity: 1;
    &:checked +.select-checked,&.active +.select-checked
      border: 1px solid #bebabb;
  .select-checked
    +rem(width, 22px)
    +rem(height, 22px)
    display: block;
    +rem(margin-top,1px);
    background: #fff;
    border: 1px solid #bebabb
    border-radius: 3px;
    position: relative;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    &:before
      content: '';
      +rem(width, 18px)
      +rem(height, 18px)
      background: url(../img/icons/checkbox.svg) no-repeat;
      display: block;
      position: absolute;
      +rem(left, 3px)
      +rem(bottom, 2px)
      opacity: 0;
      transition: all .2s ease;
.select-check.active
	border-color: $focus
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0
	.arr-down
		transform: scale(1,-1)
		svg
			fill: $org !important
	.dropdown-target
		transform: translateY(0)
		opacity: 1
		visibility: visible
.select-check
	display: inline-block
	vertical-align: top
	width: 100%
	+rem(margin-top,-1px)
	border-width: 1px;
	border-color: #e3e3e3
	border-style: solid;
	+rem(border-radius,3px)
	+rem(min-height,39px)
	.arr-down
		svg
			fill: #B9C8D1;
	.selects
		width: 100%
		+padlr(15px)
		color: $blk2
		font-weight: 600
		cursor: pointer
		text-align: left
		+rem(line-height,35px)
		font-family: $os
		position: relative
		.btn-text
			+rem(margin-top,1px)
			display: inline-block
			+rem(font-size,15px)
			white-space: nowrap
			width: 100%
			text-overflow: ellipsis
			// overflow-x: hidden
			&:not(.active)
				&:before,&:after
					content: '--'
					display: inline-block
					vertical-align: middle
					+rem(margin-top,-5px)
					+rem(font-size,15px)
					font-weight: 600
				&:before
					+rem(padding-right, 3px)
				&:after
					+rem(padding-left, 3px)			
	&.disabled
		opacity: .5
		pointer-events: none
	&.error
		border-color: red
	div::-webkit-scrollbar
		border-radius: 0px;
		width: 5px
		background-color: #e8edf1
	div::-webkit-scrollbar-thumb
		background-color: #ff9829
	.dropdown-inner
		+rem(padding-top,10px)
		+rem(padding-bottom,10px)
		+padlr(10px)
		box-shadow: 0px 10px 27px 0px rgba(7, 35, 53, 0.11);
	.dropdown-content
		overflow-y: auto
		+rem(max-height,242px)
	.select-list
		font-size: 0
	.option,.sort-select-item 
		display: block
		position: relative
		cursor: pointer
		margin: 0
		&:hover
			span 
				color: $org
		input
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
			opacity: 0
			&:checked ~span			
				color: $org
		span, a
			display: inline-block
			width: 100%
			+rem(font-size,15px)
			font-weight: 600
			line-height: 1.6;
			color: $blk2
			+rem(padding,8px 0)
			+tr(color .3s)

//=====================================//
//         datepicker
//=====================================//
.ui-datepicker
	+nosel
	.ui-datepicker-next
		right: 0
		transform: rotate(-90deg)
	.ui-datepicker-prev
		transform: rotate(90deg)
	.ui-datepicker-prev,.ui-datepicker-next
		cursor: pointer
		background-repeat: no-repeat
		+rem(background-size, 13px 20px)
		background-position: center
		background-image: url(../img/icons/strelka.svg)
//=====================================//
//         inputs
//=====================================//	
.input-item
	display: inline-block
	vertical-align: top
	+rem(padding-right,6px)
	&.s100
		width: 100%
	&.s50
		width: 50%		
.input-wrapper
	position: relative;
	+rem(margin-bottom,15px)
	&.has-error
		.input-main
			border-color: red
	// &.req
	// 	&>label,.label
	// 		&:after
	// 			content: '*'
	// 			color: $active
	// 			+rem(font-size,23px)
	// 			line-height: 0
	// 			display: inline-block
	// 			+rem(margin-left,3px)
	// 			vertical-align: middle
	// 			font-weight: 100
				
	label,.label
		display: inline-block;
		width: 100%;
		+rem(margin-bottom,4px)
		white-space: nowrap;
		+rem(font-size,12px)
		color: $grayy2
		line-height: 1.714;
		text-align: left
		+nosel
	.input-main
		border-width: 1px;
		border-color: #e3e3e3
		border-style: solid;
		+rem(border-radius,3px)
		+rem(min-height,39px)
		+rem(line-height,38px)
		width: 100%
		+padlr(15px)
		color: $blk2
		font-weight: 600
		font-family: $os
		+rem(font-size,15px)
		&.datepicker
			cursor: pointer
			&~ svg
				position: absolute
				top: 53%
				pointer-events: none
				+rem(width,19px)
				+rem(height,19px)
				+rem(right, 12px)
		&:focus
			border-color: $focus
		+placeholder
			color: #c5c5c5
			+rem(font-size,14px)
	.help-block
		position: absolute
		+rem(bottom, -15px)
		+rem(font-size,12px)
		color: red
		left: 0

.mobile
	&-list
		+rem(padding,0 0 24px 0)
		&-wrapper
			border-bottom: $bby
		li 
			a 
				+rem(font-size,14px)
				color: rgb(146, 155, 174);
				line-height: 2.077;
				+rem(padding, 5px 10px)
				&:hover,&.active
					color: $org

		&.bold
			padding: 0
			li
				a 
					+rem(font-size,17px)
					color: $white
					line-height: 1.687;
					+rem(padding, 8px 10px)
	&-soc

		.soc-wrapp
			max-width: 120%
			text-align: center
			+r(340)
				+rem(margin, 0 -12px)
			// +r(340)
			// 	.soc-wrapp-item
			// 		+rem(margin, 0 11px)
	&-contact
		+rem(padding-top,25px)
		.info-block-head
			text-align: center
		.info-block-link
			font-weight: 400
			color: $white
			position: relative
			span 
				position: absolute
				left: 0
				right: 0
				+rem(top, -12px)
				text-align: center
.modal-layout
	display: none
.index-wrapper
	background-color: $bl
	+cover
	background-position: top 55px right 
	position: relative
	backface-visibility: hidden
	background-size: 100% auto 
	background-attachment: fixed
	&:after
		content: ''
		position: absolute
		bottom: 0
		z-index: 0
		background-color: #f0f4f7
		left: 0
		right: 0
		+rem(height,70px)
	.promo
		&-wrapper
			position: relative
			z-index: 1
.page-margin
	+rem(padding-top,155px)
.promo
	&-wrapper
		display: flex
		flex-flow: row nowrap
		align-items: stretch
		box-shadow: 0px 23px 90px 0px rgba(0, 68, 111, 0.2);
		+r(850)
			flex-flow: row wrap	
			font-size: 0
			.promo-form,.promo-slider
				max-width: 100%
				width: 100%
			.promo-form
				order: 2
				margin-top: -1px
				.input-item
					&.s100
						width: 50%
						.select-item
							+rem(margin-top,20px)
			.promo-slider
				height: 0
				padding-bottom: 56.25%
				position: relative
				order: 1
				&-inner
					position: absolute
					+coverdiv
		+r(600)
			.promo-form
				.input-item
					&.s100,&.s50
						width: 100%
						.select-item
							+rem(margin-top,0)		
				
	&-form
		background-color: #FFF	
		width: 40%
		+rem(max-width,477px)
		flex-shrink: 0
		+rem(padding, 38px 38px 55px 38px)
		+r(1025)
			+rem(padding, 30px 30px 45px 30px)
		+r(600)
			+rem(padding, 30px 18px 45px 18px)
		.input-form
			font-size: 0
			+rem(margin-right,-6px)
			+rem(margin-top,30px)
			.form-footer
				.link-border
					+rem(margin, 10px 40px)
	&-slider
		+rem(flex-basis, 400px)
		flex-grow: 1
		width: 60%
		+rem(max-width,707px)
		position: relative
		&-inner,&-item
			height: 100%
		.slick-list,.slick-track
			height: 100%
		&-item
			+cover
			background-position: right center
		.nav-dots
			position: absolute
			+rem(bottom,23px)
			+rem(right,15px)
			
			.slick-dots
				text-align: right
.nav-dots
	display: inline-block
	width: 100%
	.slick-dots
		width: 100%
		li 
			display: inline-block
			vertical-align: top
			+rem(margin,0 4px)
			button
				+rem(width,13px)
				+rem(height,13px)
				border: none
				box-shadow: 0px 1px 4px 0px rgba(1, 42, 68, 0.35);
			&.slick-active
				button
					background-color: $bl

			
.input-form
	.form-footer
		+rem(margin-top,10px)		
				

.link-border
	display: inline-block
	+rem(font-size,15px)
	font-weight: 600
	color: $blk2
	span 
		display: inline-block
		width: 100%
		position: relative
		line-height: 1.6;
		&:before
			content: ''
			display: inline-block
			height: 1px
			background-color: $focus
			width: 100%
			left: 0
			position: absolute
			+rem(bottom, -1px)
			+tr(width .3s)
	&:hover
		span:before
			width: 0
			



@keyframes inM
  50%
    transform: rotate(0deg)
    opacity: 1

  100%
    transform: rotate(45deg)

@keyframes outM
  50%
    transform: rotate(0deg)

  100%
    transform: rotate(45deg)

@keyframes inT
  0%
    transform: translateY(0px) rotate(0deg)
    opacity: 1

  50%
    transform: translateY(10px) rotate(0deg)

  100%
    transform: translateY(10px) rotate(135deg)

@keyframes outT
  0%
    transform: translateY(0px) rotate(0deg)

  50%
    transform: translateY(10px) rotate(0deg)

  100%
    transform: translateY(10px) rotate(135deg)

@keyframes inBtm
  0%
    transform: translateY(0px) rotate(0deg)
    opacity: 1

  50%
    transform: translateY(-10px) rotate(0deg)

  100%
    transform: translateY(-10px) rotate(135deg)

@keyframes outBtm
  0%
    transform: translateY(0px) rotate(0deg)

  50%
    transform: translateY(-10px) rotate(0deg)

  100%
    transform: translateY(-10px) rotate(135deg)			




//=====================================//
//             buttons styles
//=====================================//
.btn
	display: inline-block
	outline: none
	+nosel
	cursor: pointer
	border: 1px solid
	line-height: 1
	+rem(font-size,15px)
	background-color: transparent
	color: $blk
	white-space: nowrap
	border-radius: $br /2 
	overflow: hidden
	vertical-align: top
	font-weight: 400
	border-color: $org
	text-align: center
	appearance: none
	font-family: $os
	transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out
	span 
		display: inline-block
		width: 100%
		height: 100%
		+rem(padding, 14px 22px)
		// +rem(letter-spacing, 0.6px)
	&:hover
		background-color: $org
	&.btn-gray
		border-color: #96b3db
		text-transform: uppercase
		font-weight: 600
		+rem(font-size,13px)
		span 
			+rem(padding, 12.5px 34px)
			+rem(letter-spacing, -0.2px)
		&:hover
			background-color: #ecf1f4
	&.btn-colored
		color: $white
		background-color: $org
		+rem(font-size,13px)
		font-weight: 700
		text-transform: uppercase
		border-radius: $br
		+rem(min-width, 161.5px)
		span
			+rem(padding, 15px 22px)
			+rem(letter-spacing, 0px)
		&:hover
			background-color: $orgl
			border-color: $orgl
		&.small
			+rem(min-width, 180px)
			span
				+rem(padding, 12.5px 22px)
	&.btn-extrasmall
		+rem(min-width,92px)
		border-color: $blk
		text-transform: uppercase
		font-weight: 600
		+rem(font-size,10px)
		span 
			+rem(padding, 6px 10px)
		&:hover
			background-color: transparent
			color: $bl
			border-color: $bl
		&:active
			color: $org
		&.blue,&.orange 
			color: $white
		&.blue 
			background-color: $bl 
			border-color: $bl
			&:hover
				background-color: lighten($bl, 20%)
				border-color: lighten($bl, 20%)
		&.orange
			background-color: $org
			border-color: $org
			&:hover
				background-color: $orgl
				border-color: $orgl
	&.disabled,&.btn-extrasmall.disabled,&.btn-colored.disabled
		border-color: $disabled
		background-color: $disabled
		color: $white
		pointer-events: none



//=====================================//
//              text styles
//=====================================//

.text-1
	+rem(font-size,15px)
	line-height: 1.75;
	color: $text
.text-2
	+rem(font-size,14px)
	line-height: 1.43;
	color: $text
.text-3
	max-width: 240px
	+rem(font-size,13px)
	color: $text
	line-height: 1.85;
.text-sm
	+rem(font-size,13px)
	line-height: 2;
	color: $grayf
.text-bold
	+rem(font-size,15px)
	font-weight: 600
	line-height: 1.6;
	color: $blk2
	+tr(color .3s)
.text-medium
	color: $blk2
	+rem(font-size,20px)
	line-height: 2;



.dropdown-select-wrapp
	+rem(width,122px)
	cursor: pointer
	&:hover
		transition-delay: .3s
		box-shadow: 0px 5px 9px 0px rgba(7, 35, 53, 0.25);

.country
	&-list
		&-item
			display: block
			font-size: 0

		&-link
			+rem(padding,9px 22px 9px 10px)
			font-size: 0
			+tr(background-color .3s)
			background-color: $bl
			width: 100%
			display: block
			white-space: nowrap
			&:hover
				background-color: #275ca5
	&-img,&-text
		display: inline-block
		vertical-align: middle

	&-img
		+rem(width,16px)
		+rem(height,11px)
		img
			display: block
			max-width: 100%
			max-height: 100%
			margin: 0 auto
		svg
			display: block
			max-width: 100%
			use 
				display: inline-block
				max-width: 100%
	&-text
		color: $white
		+rem(font-size,13px)
		line-height: 1
		+rem(padding-left,12px)
	&-head
		position: relative
		
.arr-down
	display: inline-block
	+rem(width,9px)
	position: absolute
	// top: 50%
	top: 0
	+rem(right,8px)
	height: 100%
	+vertical
	svg
		// width: 100%
		stroke: white
		display: inline-block
		vertical-align: middle
		+rem(margin-top,1px)
.dropdown-tel
	&-wrapp
		+rem(width, 185px)
		position: relative
		// +rem(margin-right,-15px)
		// +rem(margin-top,-5px)
	&-inner
		position: absolute
		top: 0
		right: 0
		left: 0
		overflow: hidden
		+tr(max-height .3s)
		+rem(max-height,33px)
		transition-delay: .15s

		&:hover
			+rem(max-height,132px)

	&-item
		display: block
		+rem(font-size,19px)
		line-height: 1.263;
		font-weight: 500
		+rem(padding, 5px 0px)
		+rem(letter-spacing,-0.4px)
		text-align: right
	&-content
		+tr(background-color .3s)

.dropdown-trigger
	position: relative
	&:hover
		.arr-down
			svg
				transform: scale(1,-1)
		.dropdown-target
			transition-delay: .15s
			opacity: 1
			visibility: visible
			transform: translateY(0)
.dropdown-target
	+gpu
	position: absolute
	z-index: 5
	+rem(margin, 0 -15px -15px -15px)
	+padlr(15px)
	// +rem(padding-top,15px)
	// max-height: 0
	left: 0
	right: 0
	opacity: 0
	top: 100%	
	transform: translateY(5%)
	transition: opacity .25s, transform .25s, visibility .25s
	visibility: hidden
	+clr
	&.small-dropdown-target
		transform: translateY(-5%)
		.dropdown-inner
			background: $bl
			box-shadow: 0px 5px 9px 0px rgba(7, 35, 53, 0.25);
	.dropdown-inner
		+rem(margin-bottom,2px)
		float: right
		width: 100%
		font-size: 0
		background-color: $white
		box-shadow: 0px 5px 20px 0px rgba(183, 174, 122, 0.1);
		.dropdown-content
	
.page__footer
	.box
		position: relative

.footer
	&-row
		font-size: 0
		padding-left: 25%
		// +rem(padding-right,30px)
		pointer-events: none
		+rem(right,15px)
		+rem(left,15px)
		// +rem(margin-top,-100px)
		position: absolute
		+rem(bottom, 145px)
		+r(1040)
			// +rem(padding-right,20px)
			padding-left: 0
			// +rem(margin-top,15px)
			+rem(bottom, 115px)
		+r(768)
			+rem(bottom, 165px)
		+r(735)
			.footer-row-pay
				display: none
			.footer-row-text
				width: 100%	
				text-align: center
				+padlr(15px)
		+r(600)
			position: static
		&-text,&-pay
			display: inline-block
			vertical-align: middle
		&-text
			+rem(font-size,12px)
			line-height: 1.667;
			color: $grayf
			width: 33.33%
			+rem(padding-right,20px)
		&-pay
			width: 66.66%
			&-inner
				display: flex
				flex-flow: row nowrap
				align-items: center
				justify-content: space-between
				+r(1040)
					flex-flow: row wrap
					.footer-row-pay-item
						+rem(margin-bottom,15px)
			&-item
				+rem(height,25px)
				+rem(width,67px)
				img
					max-height: 100%
					max-width: 100%
					display: block
					margin: 0 auto	
	&__main
		display: flex
		flex-flow: row wrap
		align-content: flex-start
		position: relative
		+r(1130)
			justify-content: space-between
		+r(870)
			flex-flow: column nowrap
			min-height: 56vh
			justify-content: flex-start
	&-main-nav
		width: 100%
		font-size: 0
		+rem(padding-top, 20px)
		+rem(padding-bottom, 18px)
		+clr
		+r(735)
			+rem(padding-top, 35px)
		.m-logo
			+r(768)
				+rem(width,202px)
				padding-bottom: 0
				+rem(height, 60px)
			+r(544)
				width: calc(100% - 10rem)
				padding-bottom: 11%
				height: 0
				background-position: left center
		.btn
			vertical-align: middle
			+rem(margin-top,8px)
			margin-left: 10.5%
			+r(768)
				float: right
				margin-top: 0
			+r(544)
				margin-left: 0
				span
					+rem(padding, 13px)
			span 
				+r(735)
					font-size: 0
					&:before
						content: attr(data-text)
						+rem(font-size,14px)
						line-height: 1
						color: $blk
						display: inline-block
						width: 100%
						text-align: center
						height: 100%
		+r(870)
			order: 2
			position: relative
			z-index: 2
			+rem(padding-bottom,20px)
			+rem(padding-top,20px)
	&-dop
		&-nav
			flex-shrink: 1
			font-size: 0
			width: 100%
			+r(870)
				order: 3
				+rem(padding-bottom,20px)
				display: block !important
				flex-basis: 0%
			+r(1040)
				+rem(margin-bottom,60px)
			+r(600)
				margin-bottom: 0
				padding-bottom: 0
			+r(544)
				.footer-column-wrap
					display: flex
					flex-flow: row wrap
					.footer-column:first-child
						order: 2
					.footer-column:nth-child(2)
						order: 1

			.footer-column
				display: inline-block
				vertical-align: top
				width: 25%
				+rem(padding-right,30px)
				+r(1040)
					+rem(padding-right,20px)
				+r(435)
					&:first-child
						.footer-column-list	
							.footer-column-list-item	
								a
									+rem(font-size,12px)
				+r(544)
					&:nth-child(2)
						width: 100%
						font-size: 0
						.info-block
							display: inline-block
							vertical-align: bottom
							width: 50%
						&~.footer-column
							display: none
							

				+r(768)
					&:not(:first-child)
						width: 33.33%
						padding-bottom: 0

					&:first-child
						width: 100%
						.footer-column-list
							width: 100%
							border-top: $bby
							&:first-child
								margin-bottom: 0
								display: flex
								flex-flow: row nowrap
								align-items: center
								justify-content: space-between
								.footer-column-list-item
									// width: 33.33%
									&:first-child
										text-align: left
										a
											padding-left: 0
									&:last-child
										text-align: right
										a
											padding-right: 0
									a
										+rem(padding, 30px 10px)

							&:not(:first-child)
								.footer-column-list-item
									display: none
									margin-bottom: 0s
							.footer-column-list-item
								display: inline-block
								vertical-align: top
								text-align: center
								
								

								// text-align: center
				&-wrap
					+rem(margin-right,-30px)
					+r(1040)
						+rem(margin-right,-20px)
				&:not(:first-child)
					+rem(margin-top,7px)
					+rem(padding-bottom,60px)
				&:nth-child(4)
					.info
						&-block
							+rem(margin-bottom,14px)
				.footer-column-list
					&:first-child
						.footer-column-list-item
							a 
								font-weight: bold;
								line-height: 1.733;
								+rem(font-size,15px)
				&-list
					+rem(margin-bottom,17px)
					&-item
						a 
							+rem(font-size,14px)
							color: #000
							line-height: 1.857;
							+rem(padding, 5px 0 6px)
							&:hover
								color: $org
	&__footer
		display: block
		font-size: 0
		+rem(padding, 30px 0 34px)
		+rem(margin-top,30px)
		border-top: $bbf
		+r(544)
			margin-top: 0
			border-top: none
			+rem(padding-top,15px)
		.soc-wrapp
			position: absolute
			// +rem(top,54px)
			top: 9%
			+rem(right,5px)
			+r(1040)
				top: 7%
			+r(840)
				top: 6%	
			+r(768)
				position: static
				+rem(margin,0 auto 30px)	
		+r(1040)
			+rem(margin-top,15px)
		+r(600)
			display: flex
			flex-flow: column nowrap
			+rem(padding, 35px 0)
			align-items: stretch
			&-developer
				order: 4
			&-copy
				order: 1
				+rem(padding-top,10px)
				position: relative
		&-developer
			font-size: 0
			white-space: nowrap
		&-copy,&-developer
			display: inline-block
			vertical-align: top
			width: 50%
			+r(600)
				width: 100%
				text-align: center
		&-developer
			+r(600)
				min-width: 100%
				text-align: left
				+rem(padding, 10px 0)
		&-developer
			text-align: right
.info
	&-block
		display: block
		width: 100%
		+rem(margin-bottom,30px)
		&-head
			display: block
			+rem(font-size,13px)
			line-height: 1.846;
			color: $grayy
		&-link
			+rem(font-size,14px)
			line-height: 1.857;
			color: #000
			+rem(margin,11px 0)
			display: block
			+tr(color .3s)
			+clr
			+r(1040)
				position: relative
				// +rem(padding-top,10px)
				span 
					position: absolute
					left: 0
					+rem(top,-12px)
					padding-left: 0
			span
				+rem(font-size,12px)
				color: $grayf
				+rem(padding-left,3px)
				font-weight: 400
		a[href^="tel:"]
			font-weight: 600
		a 
			&:hover
				color: $org



//=====================================//
//              social buttons
//=====================================//
.soc
	&-wrapp
		+rem(max-width, 282px)
		&-item
			display: inline-block
			vertical-align: top
			+rem(width,25px)
			+rem(height,25px)
			+rem(margin-right,11px)
			+rem(margin-left,11px)
			border-radius: 50%
			+tr(background-color .3s)
			text-align: center
			+vertical
			svg
				vertical-align: middle
				// +rem(max-height,35px)
				transform: scale(1.5)
			&.vk
				background-color: #526ea8
				+rm(900)
					&:hover
						background-color: #4d74c6
			&.fb
				background-color: #405b99
				+rm(900)
					&:hover
						background-color: #284faa
			&.in
				background-color: #557fa3
				+rm(900)
					&:hover
						background-color: #387ab2
			&.gp
				background-color: #f13830
				+rm(900)
					&:hover
						background-color: #f51a10
			&.tw
				background-color: #3eaadf
				+rm(900)
					&:hover
						background-color: #03a9fb
			&.ok
				background-color: #f58220
				+rm(900)
					&:hover
						background-color: #ff9000
			svg
				+rem(width, 15px)
				fill: $white
.footer
	&-developer
		font-size: 0
		&-icon,&-text,
			display: inline-block
			vertical-align: middle
			+rem(margin-left,13px)
		&-link
			display: block
			+r(600)
				text-align: center
				
			.text-sm
				display: inline-block
				vertical-align: middle
			&:hover
				svg
					fill: #fa453c
		&-icon
			+rem(width, 22px)
			+rem(height, 22px)
			+rem(margin-right,-4px)
			svg
				fill: #000
				+tr(fill .3s)
		&-text
			color: #000
			+rem(font-size,13.5px)
			color: #000
			font-family: $os
			font-weight: 800
			transform: scaleY(0.9)
			transform-origin: 50%
			// +rem(margin-top,2px)
.half
	&-block
		font-size: 0
		+r(991)
			display: flex
			flex-flow: column nowrap
	&-aside,&-main
		+rm(991)
			display: inline-block
			vertical-align: top
		min-height: 1px
	&-aside
		width: 100%
		max-width: 43%
		+r(1230)
			max-width: 35%
		+r(991)
			order: 2
			+rem(max-width,800px)
			margin: 0 auto
	&-main
		width: 100%
		max-width: 57%
		+r(1230)
			max-width: 65%
		+r(991)
			order: 1
			align-items: flex-end
			justify-content: flex-end
			+rem(max-width, 800px)
			margin: 0 auto

.tour-wrapper
	+rem(padding-top, 110px)
	+rem(padding-bottom, 67px)
	+rem(margin-right,-30px)
	overflow: hidden
	font-size: 0
	position: relative
	&~.tour-sort-wrapper
		position: absolute
		+rem(left,13px)
		+rem(top, 43px)
		// +r(1024)
		// 	+rem(top, 23px)
	.btn.btn-gray
		width: calc(100% - 1.875rem)
		+rem(margin-right,30px)
	+r(1024)
		+rem(margin-right,-20px)
		// +rem(padding-top, 70px)
		.btn.btn-gray
			width: calc(100% - 1.25rem)
.index-tours
	+r(920)
		.card-item
			&:nth-of-type(n+7)
				display: none
	+r(660)
		.card-item
			&:nth-of-type(n+4)
				display: none				
//=====================================//
//              small-cards
//=====================================//
.card-item
	display: inline-block
	vertical-align: top
	width: 33.33%
	+rem(padding-right,30px)
	+rem(margin-bottom,30px)
	+r(1024)
		+rem(padding-right,20px)
		+rem(margin-bottom,20px)
	+r(920)
		width: 50%
	+r(660)
		width: 100%
	&.twoway
		.card-item-name
			span 
				&:first-of-type
					&:after
						content: '\21C6'
	&-inner
		display: flex
		flex-flow: row nowrap
		align-items: stretch
		width: 100%
		font-size: 0
		position: relative
		z-index: 0
		&:hover
			&:before
				opacity: 1
			.card-item-img
				&:before,&:after
					transform: skew(-13.7deg) translateX(0)
				&:after
					transition-delay: 0.175s
				&:before
					transition-delay: 0s
			.card-item-link
				opacity: 1
			.card-item-name
				color: $bl
		&:before
			content: ''
			+coverdiv
			box-shadow: 0px 10px 27px 0px rgba(7, 35, 53, 0.11);
			+tr(opacity .3s)
			opacity: 0
			z-index: -1
	&-img,&-content
	&-img 
		width: 45.5%
		padding-bottom: 45.5%
		position: relative
		overflow: hidden
		background-color: darken($grayf, 5)
		flex-shrink: 0
		&-inner
			+coverdiv
			+cover
		&:before,&:after
			content: ''
			display: inline-block
			position: absolute
			height: 100%
			width: 50%
			transform: skew(-13.7deg) translateX(-100%)
			top: 0
			bottom: 0
			transition: transform .3s cubic-bezier(0.75, 0, 0.125, 1)
		&:before
			right: 86%
			z-index: 1
			background-color: rgb(15, 74, 155);
			opacity: 0.71;
			transition-delay: 0.175s
		&:after
			background-color: $bl
			z-index: 2
			right: 96%
	&-content 
		background-color: $white
		width: 64.5%
		position: relative
		+vertical
		text-align: left
		.card-item-link
			position: absolute
			+rem(width,28px)
			+rem(height,28px)
			opacity: 0
			+tr(opacity .3s)
			+rem(right,11px)
			+rem(top,11px)
		.text-sm
			position: absolute
			width: 100%
			left: 0
			right: 0
			+rem(padding-right, 50px)
			+rem(padding-left, 20px)
			+rem(top, 12px)
			text-align: left
			color: $grayl
			+r(1024)
				+rem(padding-left, 15px)
	&-value
		display: inline-block
		width: 100%
		vertical-align: bottom
		+rem(padding, 35px 20px 13px)
	&-name
		+tr(color .3s)
		span 
	
			display: inline-block
			&:first-of-type
				&:after
					content: '\2192'
					display: inline-block
					+rem(font-size,16px)
					font-weight: 600
					font-family: $os
					line-height: 1;
					color: $blk2
					+tr(color .3s)
					+padlr(5px)
	&-price
		display: block
		color: $focus
		text-transform: uppercase
		font-weight: 700
		span 
			display: inline-block
			+rem(padding-left,5px)



//=====================================//
//              dropdown links
//=====================================//	
.tour-sort
	&-wrapper
		font-size: 0
	&-text,&-dropdown
		display: inline-block
		vertical-align: top
	&-text
		+rem(font-size,20px)
		color: $blk2
		line-height: 2;
		+rem(padding-right,5px)

.sort-select
	position: relative
	border: 0
	min-height: 0
	+rem(margin-top,.5px)
	&.active
		.sort-select-title span:before
			display: none
	&-title
		color: $focus
		position: relative
		+rem(font-size,20px)
		line-height: 2;
		cursor: pointer
		+rem(padding-right,20px)
		span 
			position: relative
			&:before
				height: 1px
				display: inline-block
				content: ''
				position: absolute
				left: 0
				width: 100%
				bottom: 0
				background-image: linear-gradient(90deg,$org 0,hsla(0,0%,100%,0) 25%);
				background-position: bottom;
				background-size: 6px 2px;
				background-repeat: repeat-x;		
		.arr-down
			+rem(width,8px)
			svg
				fill: $focus
				stroke: transparent
	&-item
		&.active
			a 
				color: $org
	.dropdown-target
		+rem(min-width,193px)
		+rem(left, -15px)
		+rem(margin-top,-5px)
	


.services
	&-wrapper
		+rem(margin-left,-13px)
		+rem(padding-top, 75px)
		+r(1024)
			+rem(padding-top, 55px)
		+r(950)
			+padlr(60px)
		+r(700)
			+padlr(30px)
	&-outer
		+rem(padding-top,80px)
		+rem(padding-bottom,100px)
		+r(1024)
			+rem(padding-top,50px)
			+rem(padding-bottom,70px)
		.title.h3
			+r(1024)
				text-align: center
		.nav-arrows
			+rm(950)
				display: none
	&-item
		+rem(padding-left,13px)
		+rem(padding-top, 10px)
		+rem(padding-bottom, 10px)
		+rem(padding-right,30px)
		+r(1100)
			+rem(padding-right,20px)
		+r(700)
			text-align: center
			+padlr(5px)
		&-inner
			border-left: 1px solid #e6e6e6
			+rm(1024)
				&:hover
					.services-item-head
						+rem(margin-left,-13px)	
					.services-item-img
						left: 0
					.services-item-img-arrow
						transform: scale(1.2)
			+r(700)
				border: none
		&-head
			position: relative
			overflow: hidden
			+rem(min-height,90px)
			will-change: margin-left
			+tr(margin-left .3s)
			+r(700)
				overflow: visible	
		&-links
			+rem(padding-left,122px)
			+rem(margin-top,10px)
			+rem(min-height,100px)
			+r(700)
				display: none
			+r(1130)
				+rem(padding-left,112px)
		&-link 
			display: block
			width: 100%
			+rem(font-size,13px)
			line-height: 2.077;
			color: $bl
			&:hover
				color: $org
		&-img
			position: absolute
			+rem(left,-13px)
			+rem(height,90px)
			+rem(width,122px)
			top: 0	
			will-change: margin-left
			+tr(left .3s)
			+r(700)
				position: static
				width: 	auto
				+rem(max-width, 90px)
				display: inline-block
				+rem(margin-left,20px)
			&-inner
				width: 100%	
				height: 100%	
				position: relative
			&-main 
				height: 100%
				+rem(width,80px)
			&-arrow
				+rem(width,38px)	
				+rem(height,38px)
				position: absolute
				+rem(left,56px)
				+rem(top, 24px)	
				+tr(transform .3s)
				+r(700)
					top: 75%
		&-body,&-footer
			padding-left: 12%
			padding-right: 	8%
			+r(700)
				+padlr(5%)
				text-align: center
		&-body
			+rem(margin-top,17px)
			+r(700)
				+rem(margin-top,37px)
			.text-1
				+rem(margin-top,4px)
			.text-medium
				+r(950)
					line-height: 1.2	
		&-footer
			+rem(margin-top,40px)
			+r(700)
				+rem(margin-top,20px)


.nav-arrows
	position: absolute
	top: 50%
	left: 0	
	right: 0
	+padlr(15px)
	+clr
	z-index: 2
	+r(700)
		+padlr(5px)
		.slick-arrow
				+rem(padding, 10px)

	.slick-arrow
		display: inline-block
		vertical-align: middle
		+rem(width,40px)
		+rem(height,40px)

		&:hover
			svg 
				fill: $org !important
		&.carousel-next
			float: right
		&.carousel-prev
			float: left
			transform: scale(-1,1)				


			





		


		