.modal-layout(data-modal='callback').js-popup-container
	//контейнер модалки
	// по саксесу вешаю на этот блок класс из-за которого следующий открывается
	.modal-container
		.modal-container-header
			.text-medium Заказать обратный звонок
			i.small-link.pop-close.closePopup
		.modal-container-content
			form(action="/").form-block-wrapper.js-validate
				.form-block-section
					.input-form
						.input-item.s50
							.input-wrapper.req
								label(for='imb1') Имя
								input.input-main(type="text",placeholder='Имя',data-validation="length",data-validation-length='min2',data-validation-error-msg="Не заполнено",id='imb1')
						.input-item.s50
							.input-wrapper.req
								label(for='imb3') Телефон
								input.input-main(type="tel",placeholder='Телефон',data-validation="custom",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено",id='imb3')
						.input-item.s100
							.input-wrapper.req
								label(for='text12121') Комментарий
								textarea.input-main(rows='5',id='text12121')
				.form-block-footer
					.form-footer-notify
						.text-sm Поля для обязательного заполнения
					button(type='sumbit').btn.btn-colored
						span Задать вопрос
	//контейнер ответа модалки 
	.modal-container.response(style='display: none')
		.modal-container-header
			.text-medium Спасибо
			i.small-link.pop-close.closePopup
		.modal-container-content
			.text-1 Благодарим вас за проявленый интерес к нашей компании. С вами свяжется наш специалист для решения вашего вопроса.  
.modal-layout(data-modal='payback').js-popup-container
	//контейнер модалки
	// по саксесу вешаю на этот блок класс из-за которого следующий открывается
	.modal-container
		.modal-container-header
			.text-medium Возврат билетов
			i.small-link.pop-close.closePopup
		.modal-container-content
			.text-1 Вы уверены, что хотите отменить этот билет?
			.form-block-footer
				.input-form
					.input-item.s33
						a(href="#").btn.btn-colored.closePopup
							span Нет, не нужно
					.input-item.s33.text-center
						a(href="#").btn.btn-colored.red.closePopup
							span да, отменить!
//модификатор .modal-login
.modal-layout(data-modal='login').js-popup-container.modal-login
	.modal-container
		.modal-container-header
			.title.h2 Личный кабинет
			i.small-link.pop-close.closePopup
		.modal-container-content
			.login-container
				.login-container-block
					.text-1 Вход
					form(action="/").form-block-wrapper.js-validate
						.form-block-section
							.input-form
								.input-item.s100
									.input-wrapper.req
										label(for='imbl4') E-mail
										input.input-main(type="email",placeholder='example@mail.com',data-validation="email",data-validation-error-msg="Не заполнено",id='imbl4')
								.input-item.s100
									//пароли короче 6 символов в принципе не принимаем
									.input-wrapper.req
										label(for='imbl3') Пароль
										input.input-main(type="password",placeholder='Пароль',data-validation="length",data-validation-length='min6',data-validation-error-msg="Не заполнено",id='imbl3')
									// ведет на соотв. страницу
									a(href="#").link-border.dotted.js-popup-button(data-modal='password')
										span Забыли пароль?
						.form-block-footer
							button(type='sumbit').btn.btn-colored
								span Войти
				.login-container-block
					.text-1 Регистрация
					.text-sm При совершении брони из личного кабинета, клиент получает скидку от 10% на стандартную поездку.
					a(href="#").btn
						span Зарегистрироваться