.modal-layout(data-modal='callback').js-popup-container
	//контейнер модалки
	// по саксесу вешаю на этот блок класс из-за которого следующий открывается
	.modal-container
		.modal-container-header
			.text-medium Заказать обратный звонок
			i.small-link.pop-close.closePopup
		.modal-container-content
			form(action="/").form-block-wrapper.js-validate
				.form-block-section
					.input-form
						.input-item.s50
							.input-wrapper.req
								label(for='imb1') Имя
								input.input-main(type="text",placeholder='Имя',data-validation="length",data-validation-length='min2',data-validation-error-msg="Не заполнено",id='imb1')
						.input-item.s50
							.input-wrapper.req
								label(for='imb3') Телефон
								input.input-main(type="tel",placeholder='Телефон',data-validation="custom",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено",id='imb3')
						.input-item.s100
							.input-wrapper.req
								label(for='text12121') Комментарий
								textarea.input-main(rows='5',id='text12121')
				.form-block-footer
					.form-footer-notify
						.text-sm Поля для обязательного заполнения
					button(type='sumbit').btn.btn-colored
						span Задать вопрос
	//контейнер ответа модалки 
	.modal-container.response(style='display: none')
		.modal-container-header
			.text-medium Спасибо
			i.small-link.pop-close.closePopup
		.modal-container-content
			.text-1 Благодарим вас за проявленый интерес к нашей компании. С вами свяжется наш специалист для решения вашего вопроса.  
.modal-layout(data-modal='payback').js-popup-container
	//контейнер модалки
	// по саксесу вешаю на этот блок класс из-за которого следующий открывается
	.modal-container
		.modal-container-header
			.text-medium Возврат билетов
			i.small-link.pop-close.closePopup
		.modal-container-content
			.text-1 Вы уверены, что хотите отменить этот билет?
			.form-block-footer
				.input-form
					.input-item.s33
						a(href="#").btn.btn-colored.closePopup
							span Нет, не нужно
					.input-item.s33.text-center
						a(href="#").btn.btn-colored.red.closePopup
							span да, отменить!
//модификатор .modal-login
.modal-layout(data-modal='login').js-popup-container.modal-login
	.modal-container
		.modal-container-header
			.title.h2 Личный кабинет
			i.small-link.pop-close.closePopup
		.modal-container-content
			.login-container
				.login-container-block
					.text-1 Вход
					form(action="/").form-block-wrapper.js-validate
						.form-block-section
							.input-form
								.input-item.s100
									.input-wrapper.req
										label(for='imbl4') E-mail
										input.input-main(type="email",placeholder='example@mail.com',data-validation="email",data-validation-error-msg="Не заполнено",id='imbl4')
								.input-item.s100
									//пароли короче 6 символов в принципе не принимаем
									.input-wrapper.req
										label(for='imbl3') Пароль
										input.input-main(type="password",placeholder='Пароль',data-validation="length",data-validation-length='min6',data-validation-error-msg="Не заполнено",id='imbl3')
									// ведет на соотв. страницу
									a(href="#").link-border.dotted.js-popup-button(data-modal='password')
										span Забыли пароль?
						.form-block-footer
							button(type='sumbit').btn.btn-colored
								span Войти
				.login-container-block
					.text-1 Регистрация
					.text-sm При совершении брони из личного кабинета, клиент получает скидку от 10% на стандартную поездку.
					a(href="#").btn
						span Зарегистрироваться
//модификатор .modal-details подробности пассажира с 5-2
.modal-layout(data-modal='details').js-popup-container.modal-details
	.modal-container
		.modal-container-header
			.table-navigation
				.table-navigation-links
					a(href="#").table-navigation-link
						i
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15.8 13.8', style='enable-background:new 0 0 15.8 13.8;', xml:space='preserve')
								style(type='text/css').
									.sttable0{fill:#A8AFBD;}
								path.sttable0(d='M11.9,11.8C11.8,11.8,11.8,11.8,11.9,11.8c-0.2,0-0.3-0.1-0.4-0.3c0-0.2,0.1-0.3,0.3-0.4\
								c1.9-0.2,3.3-1.9,3.3-3.7c0-2.1-1.7-3.7-3.7-3.7c-0.1,0-0.1,0-0.2,0c-0.2,0-0.3-0.1-0.3-0.2c-0.6-1.7-2.2-2.8-4-2.8\
								c-2.3,0-4.2,1.9-4.2,4.2c0,0.2,0,0.4,0.1,0.6c0,0.2-0.1,0.3-0.2,0.4C1.4,6.2,0.7,7.3,0.7,8.4c0,1.5,1.2,2.7,2.7,2.7h0.6\
								c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3H3.3C1.5,11.8,0,10.3,0,8.4c0-1.4,0.8-2.6,2-3.1C2,5.2,2,5,2,4.9C2,2.2,4.2,0,6.9,0\
								c2,0,3.8,1.2,4.5,3c0,0,0,0,0,0c2.4,0,4.4,2,4.4,4.4C15.8,9.6,14,11.5,11.9,11.8z M6.1,11.3l1.4,1.4V7.6c0-0.2,0.1-0.3,0.3-0.3\
								s0.3,0.1,0.3,0.3v5.1l1.4-1.4c0.1-0.1,0.3-0.1,0.5,0c0.1,0.1,0.1,0.3,0,0.5l-2,2c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0\
								c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1-0.1l-2-2c-0.1-0.1-0.1-0.3,0-0.5C5.8,11.1,6,11.1,6.1,11.3z')
						span Скачать
					a(href="#").table-navigation-link
						i
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15.6 14.6', style='enable-background:new 0 0 15.6 14.6;', xml:space='preserve')
								style(type='text/css').
									.sttable0{fill:#A8AFBD;}
								path.sttable0(d='M14.3,2h-1.7V1.3c0-0.7-0.6-1.3-1.3-1.3H4.2C3.5,0,3,0.6,3,1.3V2H1.3C0.6,2,0,2.6,0,3.3v6\
								c0,0.7,0.6,1.3,1.3,1.3H3v2.7c0,0.7,0.6,1.3,1.3,1.3h7.1c0.7,0,1.3-0.6,1.3-1.3v-2.7l1.7,0c0.7,0,1.3-0.6,1.3-1.3v-6\
								C15.6,2.6,15,2,14.3,2z M3.6,1.3c0-0.4,0.3-0.6,0.6-0.6h7.1c0.4,0,0.6,0.3,0.6,0.6V2H3.6L3.6,1.3z M12,13.3c0,0.4-0.3,0.6-0.6,0.6\
								H4.2c-0.4,0-0.6-0.3-0.6-0.6V6.6H12V13.3z M15,9.3c0,0.4-0.3,0.6-0.6,0.6h-1.7V6H3v4H1.3c-0.4,0-0.6-0.3-0.6-0.6v-6\
								c0-0.4,0.3-0.6,0.6-0.6H3h9.7h1.7c0.4,0,0.6,0.3,0.6,0.6V9.3z')
						span Распечатать
			i.small-link.pop-close.closePopup
		.modal-container-content
			.person-profile-wrapper
				.person-profile-about
					.person-profile-about-inner
						.person-profile-elem.s33
							.text-sm Пассажир
								br 
								|ФИО
							.text-1 Липский Кирилл Игоревич
						.person-profile-elem.s33
							.text-sm День
								br 
								|рождения
							.text-1 15.07.1987
						.person-profile-elem.s33
							.text-sm Дате и времени 
								br
								|обновления
							.text-1 23.03.17 
								br
								|16:25
						.person-profile-elem.s33
							.text-sm Гражданство
							.text-1 Беларус
						.person-profile-elem.s33
							.text-sm № Паспорта
							.text-1 7123456А001РВ3
						.person-profile-elem.s66
							// подтягивать в инпут значение не надо, я сам, просто текст можно выплевывать и все
							.comment-wrapper.js-comment-wrapper
								.text-sm Комментарий
								.text-1 
									.text-1.js-comment-text
									a(href="#",data-alt-text='Редактировать').table-navigation-link.js-comment-btn
										i
											svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 12 12', style='enable-background:new 0 0 12 12;', xml:space='preserve')
												style(type='text/css').
													.sttable0{fill:#A8AFBD;}
												path.sttable0(d='M11.7,2.2C11.7,2.2,11.7,2.2,11.7,2.2C11.7,2.2,11.7,2.2,11.7,2.2l-5,5c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0\
												c0,0,0,0,0,0L4.3,8c0,0-0.1,0-0.1,0C4.2,8,4.1,8,4.1,7.9C4,7.9,4,7.8,4,7.7l0.8-2.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0\
												c0,0,0,0,0,0l5-5c0,0,0,0,0,0c0,0,0,0,0,0C10,0.1,10.4,0,10.7,0c0.3,0,0.7,0.2,0.9,0.4C12.2,1,12.1,1.7,11.7,2.2z M11.2,0.8\
												c-0.2-0.2-0.4-0.3-0.6-0.3c-0.2,0-0.4,0.1-0.5,0.2l-5,5L4.6,7.4l1.7-0.6l5-5C11.5,1.6,11.6,1.2,11.2,0.8z M6.5,2h-6v9.5h9.4v-6\
												c0-0.1,0.1-0.3,0.2-0.3c0.1,0,0.2,0.1,0.2,0.3v6.3c0,0.1,0,0.3-0.2,0.3h-10C0.1,12,0,11.9,0,11.7v-10c0-0.1,0.1-0.3,0.3-0.3h6.3\
												c0.1,0,0.3,0.1,0.3,0.3S6.6,2,6.5,2z')
										span Комментарий
								.comment-section.js-comment-section
									.input-item.s100
										.input-wrapper
											textarea.input-main.js-comment-input(rows='5')
										a(href="#").btn.btn-colored
											span Сохранить
				.person-profile-reys
					.person-profile-reys-inner
						.person-profile-elem.s100
							.text-sm Наименование
								br
								|билета
							.text-1 
								a(href="#").services-item-link Гродно → Минск → Санкт-Петербург
						.person-profile-elem.s50
							.text-sm Стоимость 
								br
								|билета
							.text-1 
								.text-bold.org 50 BYN
						.person-profile-elem.s50
							.text-sm № Места
								br
								|в автобусе
							.text-1 
								.text-1  58