extends _layout

block title
	title Рейсы
block config
	- var mainclass = 'active'
block content
	+headone('Рейсы','Найти билеты')
	.wrapper.gray
		.box
			.tour-outer
				.tour-wrapper.loading
					//если поездка туда-обратно, то ставим модификатор .twoway, чтобы поменять иконку между городами
					+smallCard('twoway','1',1,'Минск','Берлин','50')
					+smallCard('twoway','2','','Минск','Аэропорт Вильнюс','23')
					+smallCard('backway','3',1,'Минск','Москва','12')
					+smallCard('oneway','7',1,'Минск','Таллин','105')
					+smallCard('backway','1','','Минск','Рига','18')
					+smallCard('backway','2',1,'Минск','Рига','18')
					+smallCard('twoway','3',1,'Минск','Рига','45')
					+smallCard('backway','3',1,'Минск','Берлин','50')
					+smallCard('twoway','3',1,'Минск','Берлин','50')
				a(href="#").btn.btn-gray.has-animation.animated
					span показать Ещё рейсы
	.wrapper
		.box
			.rules-outer
				h2.title.h3 Правила бронирования
				.text-1 Соблюдайте 3 простых правила и ваша поездка будет максимально комфортной и безопасной.
				.rules-inner
					+cardmedium('1.jpg','medium')
						.border-card-name
							.text-medium Бронируйте билеты на сайте, по 
								a(href="tel:+375445000252") +375 (44) 5 000 252 
								| или через
						.border-card-content
							.soc-wrapp
								a(href="#").soc-wrapp-item.vk
									svg(class="icon icon-drop")
										use(xlink:href="#vk" xmlns:xlink="http://www.w3.org/1999/xlink")
								a(href="#").soc-wrapp-item.fb
									svg(class="icon icon-drop")
										use(xlink:href="#fb" xmlns:xlink="http://www.w3.org/1999/xlink")
					+cardmedium('2.jpg','medium')
						.border-card-name
							.text-medium Подтвердите бронь за день до отправления 
								span до 15:00
						.border-card-content
							.text-3 Наши операторы свяжутся с Вами!
					+cardmedium('3.jpg','medium')
						.border-card-name
							.text-medium Прибудьте к месту посадки 
								span за 10 минут 
								|до отправления
						.border-card-content
							.text-3 Счастливого пути!
				.rules-btn
					a(href="#").btn.btn-gray 
						span Подробнее