extends _layout

block title
	title Отделение

block content
	+headone('Рейс Минск-Москва')
	.wrapper
		.box
			.aside-wrapp
				aside.aside-menu(data-sticky_parent)
					.aside-stick(data-sticky_column)
				.aside-content
	.wrapper.gray
		section.box
			.news-wrapper
				.news-nav
					h2.title.h3 Акции и новости
					a(href="#").btn.btn-gray 
						span Смотреть все
				.news-wrapper-inner
					+news('big','акции','promo','15 февраля 2017','Зарегистрируйся на сайте и получи специальную цену','Из путешествий всегда хочется привезти своим близким что-то особенное. Зачастую этим особенным становятся сувениры, ')
					+news('','Новости','news','15 февраля 2017','Сувениры в Питере, где купить?','Из путешествий всегда хочется привезти своим близким что-то особенное. Зачастую этим особенным становятся')
					+news('','Новости','news','15 февраля 2017','Пересечения российско-белорусского участка государственной границы','')




























	