extends _layout

block title
	title Рейс Минск-Москва

block content
	+headone('Рейс Минск-Москва','Забронировать')
	.wrapper
		.box
			.aside-wrapp
				aside.aside-menu(data-sticky_parent)
					.aside-stick(data-sticky_column)
						//этих менюшек 2 типа, будет еще с модификатором. Эта скролит к якорям, а на второй будут уже просто ссылки на страницы
						.aside-list
							a(href="#",data-href='#service').aside-list-item.text-1.js-scroll-to
								span Сервис
							a(href="#",data-href='#sheldue').aside-list-item.text-1.js-scroll-to
								span Расписание
							a(href="#",data-href='#price').aside-list-item.text-1.js-scroll-to
								span Стоимость
							a(href="#",data-href='#stops').aside-list-item.text-1.js-scroll-to
								span Остановки
				.aside-content
					section.aside-section
						.feature-outer(data-id='#service')
							.title.h3 Сервис в дороге
							.feature-wrap
								.nav-arrows
								//на карточке автобуса та же канитель, только без класса инициализации слайдера
								.feature-inner.js-routefeatures-slider
									+routeFeachure('reys_wifi','Wi-Fi','Бесплатный Wi-Fi на протяжении всего маршрута')
									+routeFeachure('reys_tv wifi','Wi-Fi-Кино','Бесплатный Wi-Fi-Кино на протяжении всего маршрута')
									+routeFeachure('reys_220','220v','Бесплатный 220v на протяжении всего маршрута')
									+routeFeachure('reys_sidenia','Комфортные сидения','Комфортные сидения на протяжении всего маршрута')
									+routeFeachure('reys_pled','Пледы','Шерстяные пледы — красивые, теплые и полезные для здоровья.')
									+routeFeachure('reys_candicianer','Кондиционер','Шерстяные пледы — красивые, теплые и полезные для здоровья.')
								.i-arrows
									.slider-counter
										.slider-curr
										.slider-divider /
										.slider-total
					section.aside-section
						.route-table-outer(data-id='#sheldue')
							.route-table-head
								.route-table-head-text
									.text-medium Расписание автобусов Минск – Москва
									.text-sm Действительно с 21.01.17 – 30.05.17
								.route-table-head-link
									a(href="#").link-border.dotted
										span Расписание на месяц
								.table-wrapper
									.table.table-sheldue
										.table-head
											.table-item.table-item-from 
												span Отправление
											.table-item.table-item-from 
												span Прибытие
											.table-item 
												span Пн
											.table-item 
												span Вт
											.table-item 
												span Ср
											.table-item 
												span Чт
											.table-item 
												span Пт
											.table-item
												span Сб
											.table-item
												span Вс
										//если выезд в этот день есть, вешай класс .yes на .table-item
										+roadTable('19:45','06:00','yes','yes','','yes','yes','yes','')
										+roadTable('22:30','09:00','yes','yes','yes','yes','','yes','yes')
										+roadTable('22:30','09:00','yes','yes','yes','yes','','yes','yes')
										+roadTable('22:30','09:00','yes','yes','yes','yes','','yes','yes')
										+roadTable('22:30','09:00','yes','yes','yes','yes','','yes','yes')
										+roadTable('22:30','09:00','yes','yes','yes','yes','','yes','yes')
										+roadTable('22:30','09:00','yes','yes','yes','yes','','yes','yes')
					section.aside-section
						.price-table-wrap(data-id='#price')
							.price-table-table
								.title.h3 Стоимость проезда
								.table-wrapper
									.table.table-price
										.table-head
											.table-item.table-item-from 
												span Тип билета
											.table-item 
												span В одну сторону
											.table-item 
												span Туда и обратно	
										+priceTable('Стандартный','45','1500','82','3000')
										+priceTable('Детский','22.5','700','45','1500')
										+priceTable('Социальный','22.5','700','45','1500')
										+priceTable('Организованные группы','22.5','700','45','1500')
							.price-table-banner
								a(href="#").border-card-link
									+cardmedium('b1.jpg','big')
										.border-card-name Путешевствуй комфортно получай гарантированную выгоду
										.border-card-content 
											.text-medium Путешевствуй комфортно получай гарантированную выгоду
											.text-3 Оформи карту у водителя и получай скидки от 10% до 50%
											.link-border.dotted
												span Подробнее
											img(src="img/cards/eurocard.png", alt="")
					section.aside-section
						.roadmap-wrapper(data-id='#stops')
							.roadmap-inner
								.roadmap-item.roadmap-main.roadmap-2w
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Минск
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.small
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Полоцк
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.small
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Псков
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Санкт-Петербург
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
							.roadmap-inner
								.roadmap-item.roadmap-main.roadmap-3w
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Минск
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.small
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Полоцк
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.small
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Полоцк
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.small
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Псков
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Санкт-Петербург
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
							.roadmap-inner
								.roadmap-item.roadmap-main.roadmap-1w
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Минск
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.small
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Полоцк
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Санкт-Петербург
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
							.roadmap-inner
								.roadmap-item.roadmap-pre.roadmap-1w
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Минск
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.small
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Полоцк
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
								.roadmap-item.roadmap-main.roadmap-1w
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Минск
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.small
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Полоцк
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
									.roadmap-item-point.big
										.roadmap-item-point-inner.dropdown-trigger
											i.item-circle
											.text-1 Санкт-Петербург
											.text-sm регулярный маршрут
											.dropdown-target.arrow-bottom
												.dropdown-inner
													.dropdown-content
														.roadmap-item-description
															.roadmap-item-type.text-sm Трансфер
															a(href="#").services-item-link Гродно → Санкт-Петербург
															.roadmap-item-text Ежедневно из Гродно осуществляется трансфер к регулярным автобусным маршрутам Минск → Санкт-Петербург
					section.aside-section
						.tabs-wrapper
							.tabs.js-tabs-wrap
								.tabs-head
									.tabs-item.js-tab-trigger.active#road-start
										span Отправление
									.tabs-item.js-tab-trigger#road-road
										span Весь маршрут
									.tabs-item.js-tab-trigger#road-end
										span Прибытие
								.tabs-body
									.tabs-cont
										.tabs-cont-head
											.title.h3 Отправление из Минска
											.tabs-cont-link
												//data-items - количество li после которого последующие скрываются
												a(href="#").link-border.dotted.js-slidelist(data-items='3',data-alt-text='Свернуть').js-marker-add
													span Все пункты посадки
										.content-column-content-inner
											ul.js-slidelist-target
												//главная точка, ее маркер отображается на карте всегда, остальные - по клику на js-marker-add
												li(data-cords='[53.890398, 27.554515]') Автовокзал "Центральный" (11 платформа) ст.м. Площадь Ленина, ул. Бобруйская, 6
												li(data-cords='[53.899833, 27.509853]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.868596, 27.507793]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.859261, 27.527362]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.856217, 27.589847]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.896183, 27.517063]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.897197, 27.635852]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.949884, 27.565815]') Проспект Космонавтов (ост. напротив Автовокзала)
										.map-body
											//отправлении и прибытии карта инитится по апи, в маршруте просто вставляется iframe из конструктора, у каждой карты долэжен быть уникальный айдишник
											//скрипт пихую сюда для наглядности
											.map-elem#map-markers-1(data-imagesrc='/img/pin.svg')
									script.
										document.addEventListener("DOMContentLoaded", function () {
											mapMarkerinit('map-markers-1');
										});
									.tabs-cont
										.tabs-cont-head
											.title.h3 Маршрут
										.content-column-content-inner
											p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem nisi veritatis commodi vel, nobis culpa error est pariatur ipsum obcaecati! Debitis nobis praesentium facilis repellat, dolore dignissimos? Assumenda doloribus, architecto.
										.map-body
											iframe(src='https://api-maps.yandex.ua/frame/v1/-/C6abuA4x', width='100%', height='100%', frameborder='0')
									.tabs-cont
										.tabs-cont-head
											.title.h3 Прибытие из Минска
											.tabs-cont-link
												a(href="#").link-border.dotted.js-slidelist(data-items='3',data-alt-text='Свернуть').js-marker-add
													span Все пункты прибытия	
										.content-column-content-inner
											ul.js-slidelist-target
												//главная точка, ее маркер отображается на карте всегда, остальные - по клику на js-marker-add
												li(data-cords='[53.880545, 27.526306]') Автовокзал "Центральный" (11 платформа) ст.м. Площадь Ленина, ул. Бобруйская, 6
												li(data-cords='[53.899833, 27.509853]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.868596, 27.507793]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.859261, 27.527362]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.856217, 27.589847]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.896183, 27.517063]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.897197, 27.635852]') Проспект Космонавтов (ост. напротив Автовокзала)
												li(data-cords='[53.949884, 27.565815]') Проспект Космонавтов (ост. напротив Автовокзала)
										.map-body
											.map-elem#map-markers-2(data-imagesrc='/img/pin.svg')
										script.
											document.addEventListener("DOMContentLoaded", function () {
												mapMarkerinit('map-markers-2');
											});
					section.aside-section
						.content-column-wrap
							.content-column-content
								.content-column-content-inner
									h2 Забронированные Вами билеты
									p  Мы внимательно относимся к каждому клиенту, поэтому гарантируем индивидуальный подход в организации любой поездки. Наши сотрудники помогут вам рассчитать оптимальный маршрут, который бы полностью вас удовлетворял. В нашем автопарке представлены только лучшие модели автобусов и микроавтобусов. Мы предлагаем комфортабельные условия для поездок на любые расстояния. А опыт наших водителей позволит вам полностью расслабиться на протяжении всей поездки.
									blockquote.caption  Время прибытия местное. Компания не несет ответственности за изменение времени приезда в связи с пробками на дорогах, плохими погодными условиями, действиями представителей власти и другими, не зависящими от нас причинами.
										mark.caption-content
											span Жить необязательно. Путешествовать — необходимо.
											i Уильям Берроуза		
									p Стоимость проезда может изменяться. Для сохранения ценовой категории проезда, билет необходимо выкупить при помощи банковской карточки онлайн, либо другим удобным для Вас способом из списка возможных.
							.content-column-right
								a(href="#").border-card-link
									+cardmedium('sm1.jpg','small')
										.border-card-name Правила перевозки багажа
										.border-card-content 
											.link-border
												span Смотреть
	.wrapper.gray
		section.box
			.news-wrapper
				.news-nav
					h3.title.h3 Акции и новости
					a(href="#").btn.btn-gray 
						span Смотреть все
				.news-wrapper-inner
					+news('big','акции','promo','15 февраля 2017','Зарегистрируйся на сайте и получи специальную цену','Из путешествий всегда хочется привезти своим близким что-то особенное. Зачастую этим особенным становятся сувениры, ')
					+news('','Новости','news','15 февраля 2017','Сувениры в Питере, где купить?','Из путешествий всегда хочется привезти своим близким что-то особенное. Зачастую этим особенным становятся')
					+news('','Новости','news','15 февраля 2017','Пересечения российско-белорусского участка государственной границы','')





























	