extends _layout

block title
	title Информация

block content
	+headtwo('Информация')
	.wrapper
		.box
			.aside-wrapp
				aside.aside-menu(data-sticky_parent)
					.aside-stick(data-sticky_column)
						//.bold
						// это получается уже 3 модификатор, на мобилке этом еню превращается как бы в табы
						.aside-list.bold.aside-list-tabs
							span.aside-list-item.text-1.active
								span Информация
							a(href="#").aside-list-item.text-1
								span Продажи
							a(href="#").aside-list-item.text-1
								span Отчёты
							a(href="#").aside-list-item.text-1
								span Расчёт
				.aside-content
					section.aside-section
						.content-column-wrap.content-small
							.content-column-content
								.company-section
									.text-sm Наименование агента
									.text-medium ООО “ТревелТур”
									.company-section-row
										.company-section-block
											.text-sm Юридический адрес
											.text-1 220088, г. Минск ул. Соломенная, 23а пом. 16, офис 8
										.company-section-block
											.text-sm Банковские реквезиты
											.text-1 ЗАО «МТБанк», код 117 р/с 3012373910011 220007, г. Минск ул. Толстого, 10
									.text-medium Контактное лицо
									.company-section-row
										.company-section-block
											.text-sm Представитель ФИО
											.text-1 Израилов Андрей Александрович
										.company-section-block
											.text-sm Контактный телефон
											a(href="tel:+375172260994").text-1 +375 (17) 226-09-94
										.company-section-block
											.text-sm Договор от
											.text-1 02.10.2016 № 3012373910011
										.company-section-block
											.text-sm E-mail
											a(href="mailto:+375172260994").text-1 kirilllipsk@yandex.ru
							.content-column-right
								a(href="#").border-card-link
									+cardmedium('percent.jpg','small percent')
										.border-card-name 
											.text-sm Ваш комиссионный процент от стоимости билета
											span 10%
										.border-card-content.bonus-content
											.link-border
												span Расчитать комиссию
								.caption-content
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',width='23px',height='31.8px', viewbox='0 0 23 31.8', style='enable-background:new 0 0 23 31.8;', xml:space='preserve')
										style(type='text/css').
											.stpdf0{fill:none;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
											.stpdf1{font-family:'inherit';}
											.stpdf2{font-size:8.5213px;}
										g
											path.stpdf0(d='M20.7,31.1H2.3c-0.8,0-1.5-0.7-1.5-1.5V2.3c0-0.8,0.7-1.5,1.5-1.5h9.7c0.4,0,0.8,0.2,1.1,0.4l8.8,8.8\
											c0.3,0.3,0.4,0.7,0.4,1.1v18.6C22.2,30.4,21.5,31.1,20.7,31.1z')
											polyline.stpdf0(points='12.6,0.8 12.6,10.4 22.2,10.4 	')
											text.stpdf1.stpdf2(transform='matrix(1.1391 0 0 1 3.6906 25.6917)') PDF
									i Инструкция по работе с личным кабинетом
									a(href="#") Скачать
	.wrapper
		.box
			.aside-wrapp
				aside.aside-menu(data-sticky_parent)
					.aside-stick(data-sticky_column)
						.aside-list.bold.aside-list-tabs
							span.aside-list-item.text-1
								span Информация
							a(href="#").aside-list-item.text-1.active
								span Продажи
							a(href="#").aside-list-item.text-1
								span Отчёты
							a(href="#").aside-list-item.text-1
								span Расчёт
				.aside-content
					section.aside-section
						.content-column-wrap.content-small
							.content-column-content
								.content-column-content-inner
									h2 Проданные Вами билеты
									p  Ваше агентство продаёт билеты через компьютерную систему, позволяющую выписывать билет на  маршрут eurotrans.by в режиме on-line в Вашем офисе, и получает комиссионный процент 10 % от стоимости билета.
							.content-column-right
								a(href="#").border-card-link
									+cardmedium('percent.jpg','small percent')
										.border-card-name 
											.text-sm Ваш комиссионный процент от стоимости билета
											span 10%
										.border-card-content.bonus-content
											.link-border
												span Расчитать комиссию
						.table-wrapper
							.table-navigation
								.table-navigation-links
								.table-navigation-nav
									.table-collapse
										//.active чтобы развернуть
										a(href="#").table-navigation-link
											span Смотреть все
											i.arr-down
												svg(class="icon icon-drop")
													use(xlink:href="#strelka" xmlns:xlink="http://www.w3.org/1999/xlink")
							.table.table-tickets.sold
								.table-head
									.table-item.table-num
										span №
									.table-item
										span Пассажир ФИО
									.table-item 
										span Дата продажи
									.table-item
										span Дата рейса
									.table-item.table-road
										span Рейс
									.table-item 
										span Итого
									.table-item
										span Комиссия
									.table-item.table-tel
										span Номер телефона
								+tablesold
								+tablesold
								+tablesold
								//- .table-row
								//- 	.table-item.table-num
								//- 		.text-1 1
								//- 	.table-item
								//- 		.text-1 25.03.17
								//- 	.table-item
								//- 		.text-1 19:45
								//- 			br
								//- 			|Минск 
								//- 			br
								//- 			|ав. «Центральный»
								//- 	.table-item
								//- 		.text-1 06:00
								//- 			br
								//- 			|Москва
								//- 			br
								//- 			|Белорусский вокзал
								//- 			br
								//- 			|ав. Новоясеневская
								//- 	.table-item
								//- 		.text-1
								//- 			|10 ч
								//- 			br 
								//- 			|"Автобусный парк №2" 
								//- 			br
								//- 			| ГП "Минсктранс"
								//- 	.table-item
								//- 		a(href="#").link-border.gray
								//- 			span вернуть
								//- 	.table-item
								//- 		.text-bold 4500
								//- 			span BYN
								//- 		.text-sm
								//- 			| 1500 RUB
								//- 	.table-item.table-points
								//- 		.text-bold +150
								//- .table-row
								//- 	.table-item.table-num
								//- 		.text-1 1
								//- 	.table-item
								//- 		.text-1 25.03.17
								//- 	.table-item
								//- 		.text-1 19:45
								//- 			br
								//- 			|Минск  ert erte rter etet e
								//- 			br
								//- 			|ав. «Центральный»
								//- 	.table-item
								//- 		.text-1 06:00
								//- 			br
								//- 			|Москва ert etet et et
								//- 			br
								//- 			|Белорусский вокзал rtert etert etert etre ter
								//- 			br
								//- 			|ав. Новоясеневская ert ert erter e
								//- 	.table-item
								//- 		.text-1
								//- 			|10 ч
								//- 			br 
								//- 			|"Автобусный парк №2" 
								//- 			br
								//- 			| ГП "Минсктранс"
								//- 	.table-item
								//- 		a(href="#").link-border.gray
								//- 			span вернуть
								//- 	.table-item
								//- 		.text-bold 4500
								//- 			span BYN
								//- 		.text-sm
								//- 			| 15000 RUB
								//- 	.table-item.table-points
								//- 		.text-bold +150
	.wrapper
		.box
			.aside-wrapp
				aside.aside-menu(data-sticky_parent)
					.aside-stick(data-sticky_column)
						.aside-list.bold.aside-list-tabs
							span.aside-list-item.text-1
								span Информация
							a(href="#").aside-list-item.text-1
								span Продажи
							a(href="#").aside-list-item.text-1
								span Отчёты
							a(href="#").aside-list-item.text-1.active
								span Расчёт
				.aside-content
					section.aside-section
						.content-column-wrap.content-small
							.content-column-content
								.content-column-content-inner
									h2 Сформировать отчет
									p  Выберите из календаря дату, начало с которой будет формироваться отчёт. Период подачи отчета по – дата окончания.
							.content-column-right
								a(href="#").border-card-link
									+cardmedium('percent.jpg','small percent')
										.border-card-name 
											.text-sm Ваш комиссионный процент от стоимости билета
											span 10%
										.border-card-content.bonus-content
											.link-border
												span Расчитать комиссию
						.table-wrapper
							.table-navigation
								.table-navigation-links
									a(href="#").table-navigation-link
										i(style='background-image:url(img/icons/wallet.png);')
										span Произвести оплату через банк
									a(href="#").table-navigation-link
										i(style='background-image:url(img/icons/download.png);')
										span Скачать
									a(href="#").table-navigation-link
										i(style='background-image:url(img/icons/print.png);')
										span Распечатать
									a(href="#").table-navigation-link
										i(style='background-image:url(img/icons/reload.png);')
										span Обновить
								.table-navigation-nav
									.table-pagination
										a(href="#").table-pagination-arr.left
											i.arr-down
												svg(class="icon icon-drop")
													use(xlink:href="#strelka" xmlns:xlink="http://www.w3.org/1999/xlink")
										.table-pagination-inner
											a(href="#").table-pagination-item.active 1
											a(href="#").table-pagination-item 2
											a(href="#").table-pagination-item 3
											a(href="#").table-pagination-item 4
											span ...
											a(href="#").table-pagination-item 45
										a(href="#").table-pagination-arr.right
											i.arr-down
												svg(class="icon icon-drop")
													use(xlink:href="#strelka" xmlns:xlink="http://www.w3.org/1999/xlink")
									.table-collapse
										//.active чтобы развернуть
										a(href="#").table-navigation-link
											span Смотреть все
											i.arr-down
												svg(class="icon icon-drop")
													use(xlink:href="#strelka" xmlns:xlink="http://www.w3.org/1999/xlink")
							.table.table-tickets
								.table-head
									.table-item.table-num
										span №
									.table-item
										span Дата
									.table-item 
										span Отправление
									.table-item
										span Прибытие
									.table-item
										span Время в пути
									.table-item 
										span Возврат билета
									.table-item
										span Цена
									.table-item
										span Бонусных баллов
								.table-row
									.table-item.table-num
										.text-1 1
									.table-item
										.text-1 25.03.17
									.table-item
										.text-1 19:45
											br
											|Минск 
											br
											|ав. «Центральный»
									.table-item
										.text-1 06:00
											br
											|Москва
											br
											|Белорусский вокзал
											br
											|ав. Новоясеневская
									.table-item
										.text-1
											|10 ч
											br 
											|"Автобусный парк №2" 
											br
											| ГП "Минсктранс"
									.table-item
										a(href="#").link-border.gray
											span вернуть
									.table-item
										.text-bold 4500
											span BYN
										.text-sm
											| 1500 RUB
									.table-item.table-points
										.text-bold +150
								.table-row
									.table-item.table-num
										.text-1 1
									.table-item
										.text-1 25.03.17
									.table-item
										.text-1 19:45
											br
											|Минск 
											br
											|ав. «Центральный»
									.table-item
										.text-1 06:00
											br
											|Москва
											br
											|Белорусский вокзал
											br
											|ав. Новоясеневская
									.table-item
										.text-1
											|10 ч
											br 
											|"Автобусный парк №2" 
											br
											| ГП "Минсктранс"
									.table-item
										a(href="#").link-border.gray
											span вернуть
									.table-item
										.text-bold 4500
											span BYN
										.text-sm
											| 1500 RUB
									.table-item.table-points
										.text-bold +150
								.table-row
									.table-item.table-num
										.text-1 1
									.table-item
										.text-1 25.03.17
									.table-item
										.text-1 19:45
											br
											|Минск  ert erte rter etet e
											br
											|ав. «Центральный»
									.table-item
										.text-1 06:00
											br
											|Москва ert etet et et
											br
											|Белорусский вокзал rtert etert etert etre ter
											br
											|ав. Новоясеневская ert ert erter e
									.table-item
										.text-1
											|10 ч
											br 
											|"Автобусный парк №2" 
											br
											| ГП "Минсктранс"
									.table-item
										a(href="#").link-border.gray
											span вернуть
									.table-item
										.text-bold 4500
											span BYN
										.text-sm
											| 15000 RUB
									.table-item.table-points
										.text-bold +150