extends _layout

block title
	title Index

block content
	.title.h1 Услуги
	.title.h2 Автобусные рейсы
	.title.h3 Популярные рейсы
	.title.h4 Мршруты
	.btn-wrapper
		a(href="#").btn 
			span Заказать обратный звонок
		button(type='sumbit').btn 
			span Заказать обратный звонок
		a(href="#").btn.btn-gray 
			span Применить
		button(type='sumbit').btn.btn-gray 
			span Применить
		a(href="#").btn.btn-colored
			span Найти билеты
		button(type='sumbit').btn.btn-colored
			span Найти билеты
		a(href="#").btn.btn-colored.small
			span Забронировать
		button(type='sumbit').btn.btn-colored.small.disabled
			span Забронировать
		a(href="#").btn.btn-extrasmall
			span Скачать
		button(type='sumbit').btn.btn-extrasmall
			span Скачать
		a(href="#").btn.btn-extrasmall.blue.disabled
			span Скачать
		button(type='sumbit').btn.btn-extrasmall.blue
			span Скачать
		a(href="#").btn.btn-extrasmall.orange
			span Скачать
		button(type='sumbit').btn.btn-extrasmall.orange
			span Скачать
	.text-wrapper
		.text-1 Лучшая возможность вовремя прибыть в необходимый аэропорт
		.text-2 Из путешествий всегда хочется привезти своим близким что-то особенное. Зачастую этим 
		.text-3 После этого запись о бронировании перемещается в разряд Мои билеты и идет начисление баллов.
	.tour-wrapper
		.card-item
			a(href="#").card-item-inner
				.card-item-img
					.card-item-img-inner(style='background-image:url(img/tour1.png)')
				.card-item-content
					

			
	



























	