extends _layout

block title
	title Часто задаваемые вопросы

block content
	+head4('Часто задаваемые вопросы')
	.wrapper
		.box
			.faq-wrapper
				.question-outer.js-tabs-wrap
					.question-inner
						+question2('vopros_calendar','Маршруты и расписание','#tabs1')
						+question2('vopros_action','Скидки','#tabs2')
						+question2('vopros_bronirovanie','Бронирование','#tabs3')
						+question2('vopros_price','Оплата','#tabs4')
						+question2('vopros_bagaz','Багаж','#tabs5')
						+question2('vopros_granica','Пересечение границы','#tabs6')
					.faq-answer.tabs-body
						.tabs-cont
							.feedback-wrapper
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-all
									.link-border.dotted.js-expand-all
											span Смотреть все вопросы
						.tabs-cont
							.feedback-wrapper
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-all
									.link-border.dotted.js-expand-all
											span Смотреть все вопросы
						.tabs-cont
							.feedback-wrapper
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-all
									.link-border.dotted.js-expand-all
											span Смотреть все вопросы
						.tabs-cont
							.feedback-wrapper
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом мо sdfsdf s sf sdfsf fsdfsf sfs fsdfs жно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-all
									.link-border.dotted.js-expand-all
											span Смотреть все вопросы
						.tabs-cont
							.feedback-wrapper
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-all
									.link-border.dotted.js-expand-all
											span Смотреть все вопросы
						.tabs-cont
							.feedback-wrapper
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образо sfsdf s sdf м можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образ fsdf sd fом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa be sdf sd fsdf sdf sdf satae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiisdf sf sfs dfsdfs deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-item.js-expand-block
									.feedback-item-content
										.link-border.dotted.js-expand-btn
											span Каким образом можно оплатить билет?
									.feedback-item-reply.js-expand-target
										.text-bold Ответ
										.text-1
											|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt debitis asperiores eaque ea ullam culpa beatae, aliquid rem sint, at sed quisquam hic necessitatibus nulla aperiam? Eligendi, doloribus, quisquam.
								.feedback-all
									.link-border.dotted.js-expand-all
											span Смотреть все вопросы